<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>db_dashboard</title>
  <link rel="stylesheet" href="..\static\css\index.css">
</head>
<body>

<header class="topnav">
    <h1>Cor & Don's whacky adventures</h1>
    <p>Door: Lucas, Lars, Tristan, Toine en Jasper</p>
</header>


<div class="container" id="devicedata">
<table>
    <tr>
        <th>logid</th>
        <th>timestamp</th>
        <th>temp (C)</th>
        <th>humidity</th>
        <th>knockStatus</th>
        <th>deviceStatus</th>
    </tr>
</table>
</div>


<div class="container" id="userdata">
<table>
    <tr>
        <th>sessionId</th>
        <th>timestamp</th>
        <th>sessionDuration</th>
        <th>score</th>
    </tr>
</table>
</div>

<button class="button" onclick="testbuttons">Test de knoppen</button>
<button class="button"  onclick="testmascotte">Test de mascottes</button>
<button class="button"  onclick="testmatrix">Test de matrixes</button>

</body>
</html>